/*Se agrega fondo al body*/
body{
    padding: 0;
    margin: 0;
 

   
}
/*dark mode*/

input[type="checkbox"]{
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #434343;
    appearance: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}

input[type="checkbox"]:checked{
    background-color: #04ac2e;
}

input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #f2f2f2;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.7s ease;
}

input[type="checkbox"]:checked::before{
    transform: translateX(20px);
}

.dark-mode{
    background-color: #252525;
    color: #f2f2f2;
}


.calc-table{   /*estilo para tabla calculadora*/
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
}

.calc-table > button{
    cursor: pointer;
    font-size: 2rm;
    border: 1px solid white;
    border-radius: 2px;
    outline: none;
    background-color: #c4ffd1;
}

.output{ /* Estilo a la pantalla de resultado*/
    grid-column: 1 / -1;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .display{
    color: black;
    font-size: 2 rem;
    text-align: right;
}

.calc-table > button:hover{    /* estilo para cambiar de color con el cursor*/
    background-color: white;
}

.display{
    height: 100px;
    width: 200px;
    font-size: 50px;
    border: none;
}